.serviceItem-wrap {
  display: flex;
  flex-direction: column;
}
.serviceItem-cover {
  width: 100%;
  height: 15.625em;
  object-fit: cover;
  border-radius: 1.25em;
  margin-bottom: 0.5em;
}
.serviceItem-wrap h3 {
  margin: 0.5rem 0 1rem 0;
  flex: 1;
}

.serviceItem-desc {
  position: relative;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  text-align: left;
}

.serviceItem-link {
  text-decoration: none;
  color: inherit;
}
